*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.logo {
  width: 250px;
  position: absolute;
  top: 4%;
  left: 10%;
}
#banner{
  background:linear-gradient(rgba(0,0,0,0.3),#498064),url(bgimg2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.banner-text{
  text-align: center;
  color:#fff;
  padding-top: 250px;
}

.banner-text h1{
  font-size: 100px;
  font-family: 'Kaushan Script', cursive;
}

#sideNav{
  width:250px;
  height: 100vh;
  position: fixed;
  right: 0px;
  top: 0;
  background: #498064;
}

nav ul li{
  list-style: none;
  margin: 50px 20px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
}

#menuBtn{
  width: 50px;
  height: 50px:auto;
  color: #498064;
  text-align: center;
  position: fixed;
  right: 30px;
  top:20px;border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}

#menuBtn img{
  width: 30px;
  margin-top: 25px;
}

#explanation-1{
  width: 770px;
  padding: 60px 320px;
}

.explanation-1 h1{
  font-size: 35px;
  padding-bottom: 30px;
  text-align: center;

}

.explanation-1 p{
  font-size: 20px;
  padding-bottom: 10px;
  letter-spacing: 2px;
  line-height: 30px;
}

#HR{
  width: 770px;
  padding: 60px 320px;
}

.img{
  float: right;
  padding-left: 50px;
  height: 200px;
  width: auto;
}


.HR-btn{
  margin: 30px auto 0;
}
.HR-btn a{
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  padding: 12px 0;
  text-align: center;
  color: Black;
  border: 0.5px solid black;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
}

.HR-btn a span{
  width: 0%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  background: #498064;
  z-index:-1;
  transition: 0.5s;
}

.HR-btn a:hover span{
  width: 100%;
}
.HR-btn a:hover{
  color: white;
}

#I{
  width: 770px;
  padding: 60px 320px;
}

.img{
  float: right;
}

.I-btn{
  margin: 50px auto 0;
}
.I-btn a{
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  padding: 12px 0;
  text-align: center;
  color: Black;
  border: 0.5px solid black;
  position: relative;
  z-index: 1;
  transition: color 0.5s
}

.I-btn a span{
  width: 0%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  background: #498064;
  z-index:-1;
  transition: 0.5s;
}

.I-btn a:hover span{
  width: 100%;
}
.I-btn a:hover{
  color: white;
}

.footer{
  background-color: #498064;
}

.footer p{
  text-align: center;
  padding: 10px;
}

#beneathfooter{
  padding: 10px;
}
